<h1>Listing order_details</h1>

<table>
  <thead>
    <tr>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Discount</th>
      <th>Order</th>
      <th>Product</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.unit_price %></td>
        <td><%= order_detail.quantity %></td>
        <td><%= order_detail.discount %></td>
        <td><%= link_to order_detail.order.id, edit_order_detail_path(order_detail.order) %></td>
        <td><%= link_to order_detail.product.product_name, order_detail.product %></td>
        <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
        <td><%= link_to 'Destroy', order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order detail', new_order_detail_path %>
<br />
<%= link_to 'Customers', customers_path %><br />
<%= link_to 'Employees', employees_path %><br />
<%= link_to 'Product Categories', categories_path %><br />
<%= link_to 'Products', products_path %><br />
