<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Required date:</strong>
  <%= @order.required_date %>
</p>

<p>
  <strong>Shipped date:</strong>
  <%= @order.shipped_date %>
</p>

<p>
  <strong>Freight:</strong>
  <%= @order.freight %>
</p>

<p>
  <strong>Ship name:</strong>
  <%= @order.ship_name %>
</p>

<p>
  <strong>Ship address:</strong>
  <%= @order.ship_address %>
</p>

<p>
  <strong>Ship city:</strong>
  <%= @order.ship_city %>
</p>

<p>
  <strong>Ship region:</strong>
  <%= @order.ship_region %>
</p>

<p>
  <strong>Ship postal code:</strong>
  <%= @order.ship_postal_code %>
</p>

<p>
  <strong>Ship country:</strong>
  <%= @order.ship_country %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.company_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @order.employee.first_name %>
</p>

<table>
  <thead>
    <tr>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Discount</th>
      <th>Product</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.unit_price %></td>
        <td><%= order_detail.quantity %></td>
        <td><%= order_detail.discount %></td>
        <td><%= link_to order_detail.product.product_name, order_detail.product %></td>
        <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
